body {
  background: rgba(95, 142, 220, 1);
}

.signUp_main {
  width: 100%;
  height: 100vh;
  background: rgba(95, 142, 220, 1);
}

.signUp_card {
  width: 400px;
  height: 485px;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
  margin: 90px auto;
}

.signUp_card h1 {
  padding-top: 40px;
  text-align: center;
  font-weight: 500;
  color: rgba(22, 40, 112, 1);
}

.signUp_container {
  width: 80%;
  margin: auto;
}

.signUp_row {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.signUp_line_active {
  display: flex;
}
.signUp_left {
  margin-top: 15px;
  width: 50%;
  height: 3px;
  background: rgba(22, 40, 112, 1);
}

.signUp_right {
  margin-top: 15px;
  width: 50%;
  height: 3px;
  background: rgb(209, 209, 209);
}

.signUp_row a {
  text-decoration: none;
  font-weight: 500;
  color: rgba(22, 40, 112, 1);
}
.signUp_input_section {
  margin-top: 20px;
}

.signUp_input_section input {
  padding-left: 10px;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(181, 181, 181, 1);
}

.signUp_agree {
  display: flex;
  font-size: 10px;
}

.signUp_agree_text {
  margin-left: 20px;
}

.signUp_btn_signUp {
  height: 35px;
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  background: #5087e1;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.signUp_btn_signUp:hover {
  background: #4375c4;
}

.password_answer {
  height: 15px;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.passwordAlarm {
  color: red;
  font-size: 12px;
  margin-bottom: 4px;
}
